

body{


	background-color: #cccccc;

	color: #222222;

	}




 p{

  	font: 20px Helvetica, sans-serif;

  	line-height: 1.2;

  }


  button{

    height: 36px;
    padding: 5px 10px;
    background: #cccccc;
    border: 1px solid #bbbbbb;
    font: 20px Helvetica, sans-serif;

  }



button:hover {

	background-color: #dddddd;

}

button:active {

	border: 1px solid #000000;

}


input {
  font: 20px Helvetica, sans-serif;

  line-height: 1.2;
}



  div#container {

    margin: 20px auto;
    width: 450px;
    background-color: #eeeeee;
    padding: 10px 20px;

    }​
