body{

	background-size: cover;
	background-image: url('https://s.yimg.com/os/mit/media/m/weather/images/fallbacks/lead/cloudy_d-e618500.jpg');
	color: #222222;

}

p{

  font: 20px Helvetica, sans-serif;
  line-height: 1.1;

}

p#temp_display{

  font-size: 60px;
	font-weight: bold;
	margin: 10px 0

}

button{

  height: 36px;
  padding: 5px 10px;
  background: #cccccc;
  border: 1px solid #bbbbbb;
  font: 20px Helvetica, sans-serif;
	margin-right: 10px;

}

button:hover {

	background-color: #dddddd;

}

button:active {

	border: 1px solid #000000;

}

input[type='text'] {

  font: 20px Helvetica, sans-serif;
  line-height: 1.2;
	margin-left: 10px;
	margin-right: 15px;

}

input[type='checkbox'] {

  line-height: 1.2;
	margin-right: 5px;

}

div#container {

  margin: 70px auto;
  width: 440px;
  background-color: #eeeeee;
  padding: 10px 20px;
	opacity: 0.7;

}​
